<!DOCTYPE html> 
<body style="background-color:floralwhite;">
<html>
    <head>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
        <title>Registration</title>
        <link href="Page2Style.css" rel="stylesheet" type="text/css">
    </head>
      <body>
           <header> 
                  <h1 style="font-size:50px">WELCOME TO PLANT FERTILIZER RECOMMENDATION</h1>
                  <div class="image">
                    <img src="BackgroundImage.jpeg" alt="Avatar" style="width:200px" >
                    


<div class="text">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<p style="font-size:20px">If you skip with out Verification you will get quantized reommendations!!</p>
<p> <input  type = "submit" value = "Skip"/></p>
<br>

 <p style="font-size:20px">If you Verify you will get quantized , qualitative and good recommendations!!</p>
    <br>
    <div class="text1">
<p>Enter your name</p>
<p> <input type = "text" name = "Name" /></p>
<br>
<p>Enter your phone number</p>
<p> <input type = "integer" name = "Phone numer" /></p>
<br>
<p> <input  type = "submit" value = "GetOTP"/></p>
<br>
<p>Enter 4 digit OTP</p>
<p> <input type = "integer" name = "OTP" /></p>
<br>
<p> <input  type = "submit" value = "Verify"/></p>
<br>

</form>
<b>{{value}}</b>
</body>
</html>
